<h1><%= @user.nickname %>さんのマイページ</h1>
<h2>あなたのID：<%= @user.id %></h2>

<p>購入した商品</p>
<!--  @items -> @user.itemsに変更する -->
<% @user.items.each do |item| %>
  <p><%= item.name %>:<%= item.price %>円</p>
<% end %>
