<h1>みんなの購入商品一覧</h1>
<% if user_signed_in? %>
  <% @items.each do |item| %>
    <p>
      <%= item.name %>：<%= item.price %>

      <!-- 商品ごとに購入したユーザーのIDを表示させる -->
      購入者ID：<%= item.user.id %>
      <!-- item,userモデルの関連づけが必要 -->
    </p>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
